/* ==== common styling starts ==== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

body{
    background: #f9f9f9;
}


.container{
    padding: 0 9%;
}

.flex-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ==== common styling ends ==== */


/* ==== header section area starts ==== */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 0;
}

.header .container .logo h2{
    font-size: 30px;
    color: green;
}

.header .container .navbar a{
    margin-right: 30px;
    font-size: 25px;
}

.header .container input{
    display: none;
}

.header .container label{
    font-size: 30px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


/* ==== header section area ends ==== */



/* responsive area */

@media (max-width: 768px){

    .header .container label{
        visibility: visible;
        opacity: 1;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 10px 20px;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    .header .navbar a{
        display: block;
        margin: 20px 0;
        padding: 15px;
        background: #fff;
        border: 1px solid rgba(0,0,0,.1);
        border-left: 3px solid red;
    }


    .header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    .header input:checked ~ label::before{
        content: '\f00d';
    }

}